.header {
    background: linear-gradient(180deg, #FFF 60.94%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 25px;
}

.header .header-content {
    padding: 0 30px 0 19px;
    display: flex;
    align-items: center;
    min-height: 85px;
}

.header .header-content .logo {
    margin: 0 auto;
}

.header .header-content .img-wrapper {
    width: 195px;
}

.header .header-content .btn-wrapper {
    width: 30px;
}
.header .amount-badge{
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    color: #2A2D37;
    padding: 6px 37px 6px 15px;
    background-color: #FBC63D4D;
    border: 1px solid #FBC63D80;
    border-radius: 35px;
    position: relative;
}
.header .amount-badge::before{
    content: '';
    position: absolute;
    top: -15px;
    right: 5px;
    width: 27px;
    height: 42px;
    background: url(../images/coins.png);
}
.main-menu {
    max-width: 280px;
    padding-top: 50px;
    border: 0 !important;
    border-radius: 30px 0 0 30px;
    box-shadow: 0px 15px 50px 0px #00000014;
}

.main-menu .logout-wrapper {
    position: fixed;
    bottom: 50px;
    padding-left: 10px;
}

.main-menu .logout-wrapper .menu-link {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #605D5D;
    display: flex;
    align-items: center;
    transition: .4s linear;
}

.main-menu .logout-wrapper .menu-link:hover {
    color: #000000;
}

.main-menu .logout-wrapper .menu-link .img-wrapper {
    margin-right: 19px;
    width: 30px;
    display: inline-block;
}

.main-menu .offcanvas-body {
    padding-top: 0;
}

.main-menu .menu-list {
    list-style-type: none;
    max-height: calc(100vh - 150px);
    overflow: auto;
}

.main-menu .menu-list .menu-item:not(:last-child) {
    border-bottom: 0.25px solid rgba(93, 93, 93, .3);
}

.main-menu .menu-list .menu-link {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 10px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #605D5D;
    transition: .4s linear;
}

.main-menu .menu-list .menu-link:hover {
    color: #000000;
}

.main-menu .menu-list .menu-link .img-wrapper {
    width: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas-backdrop {
    background: rgba(42, 45, 55, 0.20);
    backdrop-filter: blur(7.5px)
}

.offcanvas-backdrop.show {
    opacity: 1;
}

@media (max-width: 375px) {
    .header .header-content .img-wrapper {
        width: 180px;
    }
}