/* Item section css start */
.item-section {
    padding: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 25px 25px 0 0;
    /* border: 1px solid red; */
    box-shadow: 0px 15px 50px 0px #00000014;
}

.item-section .title {
    margin-bottom: 19px;
}

.item-section .title h1 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #2A2D37;
    text-align: center;
}

.item-section-divider {
    margin-bottom: 55px;
}

/* Item section css end */